* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:green;
    text-align: center;
    margin-left:200px;
    margin-right:200px;
  }


.main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/*hide the bullet points from listings*/
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
   }

li {
    margin-bottom: 10px;
}
 #questions, #submit, #highscorepage {
    display: none;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    flex: 1 0 auto;
}

.button{
    background:yellow;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
.button:hover{
  
    background-color:rgb(205, 245, 247);
  
}
  
@media only screen and (max-width: 960px) {
    main {
        margin-left:50px;
        margin-right:50px;
    }
  }

@media only screen and (max-width: 520px) {
    body {
      font-size: 130%;
    }
    main {
        margin-left:12px;
        margin-right:12px;
    }
}